// Mixins

@mixin btn-border-color {
  border-color: rgba(#1e1e1e, 0.2)
                rgba(#1e1e1e, 0.2)
                rgba(#000, 0.25);
}

@mixin btn-box-shadow {
  box-shadow: inset 0 1px 0 rgba(#fff, 0.25),
              0 1px 1px rgba(#000, 0.15);
}

@mixin btn-border-color-hover {
  border-color: rgba(#1e1e1e, 0.35)
                rgba(#1e1e1e, 0.35)
                rgba(#000, 0.4);
}

@mixin btn-box-shadow-hover {
  box-shadow: inset 0 1px 0 rgba(#fff, 0.25),
              0 1px 1px rgba(#000, 0.15),
              inset 0 -20px 65px -40px rgba(#000, 0.9);
}

@mixin btn-box-shadow-active {
  box-shadow: inset 0 1px 2px rgba(#000, 0.1),
              inset 0 2px 3px rgba(#000, 0.25),
              0 1px 1px rgba(#000, 0.15),
              inset 0 -20px 65px -40px rgba(#000, 0.9);
}

// Global

.btn {
  position: relative;
  display: inline-block;
  padding: rem(6) rem(12);
  border: 1px solid #888;
  border-radius: 2px;
  background-color: #eee;
  color: #444;
  vertical-align: middle;
  text-shadow: none;
  white-space: nowrap;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;

  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.
  @include transition(opacity 0.2s ease-out);
  @include linear-gradient(#fcfcfc, #eee);
  user-select: none;

  &:focus {
    // border-color: #51a7e8;
    outline: none;
    text-decoration: none;
    // box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  }

  &:focus:hover,
  &.selected:focus {
    // border-color: #51a7e8;
  }

  &:hover,
  &:active {
    text-decoration: none;
    // background-color: #ddd;
    // background-image: linear-gradient(#eee, #ddd);
    // border-color: #ccc;
  }

  &:active,
  &.selected {
    // background-color: #dcdcdc;
    // background-image: none;
    // border-color: #b5b5b5;
    // box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    // background-color: darken(#dcdcdc, 5%);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      // background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      // border-color: rgba(197, 197, 197, 0.5);
      box-shadow: none;
      opacity: 0.65;
      // color: rgba(102, 102, 102, 0.5);
      cursor: default;
      cursor: not-allowed;
    }
  }
}


// Base theme

.btn {
  @include btn-border-color;
  @include btn-box-shadow;
  &:focus {
    @include btn-border-color;
  }
  &:hover,
  &:active {
    @include btn-border-color-hover;
    @include btn-box-shadow-hover;
  }

  &:active {
    @include btn-box-shadow-active;
  }
}


// Default

.btn-default {
  background-color: #e2e4e6;
  color: #57626c;

  @include linear-gradient(#fff, #e2e4e6);

  &:hover,
  &:active {
    color: #57626c;
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      border-color: rgba(#141414, 0.2);
      background-color: #0871d4;
      opacity: 0.65;
      cursor: not-allowed;
    }
  }
}

// Primary

.btn-primary {
  background-color: #0871d4;
  color: #fff;

  @include linear-gradient(#0f86f6, #0871d4);

  &:hover,
  &:active {
    background-color: #0871d4;

    @include linear-gradient(#0f86f6, #0871d4);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      border-color: rgba(#141414, 0.2);
      background-color: #0871d4;
    }
  }
}

// Success

.btn-success {
  background-color: #5fb000;
  color: #fff;

  @include linear-gradient(#70cf00, #59a500);

  &:hover,
  &:active {
    background-color: #5fb000;

    @include linear-gradient(#6dca00, #4c8c00);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      border-color: rgba(#141414, 0.2);
      background-color: #5fb000;
    }
  }
}

// Danger

.btn-danger {
  background-color: #d82f2f;
  color: #fff;

  @include linear-gradient(#d82f2f, #b72323);

  &:hover,
  &:active {
    background-color: #d82f2f;

    @include linear-gradient(#d41414, #a60f0f);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      border-color: rgba(#141414, 0.2);
    }
  }
}
